<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <p><%= report.id %>|<%= report.date %>|<%= report.open %>|<%= report.high %>|<%= report.low %>|<%= report.close %>|<%= report.volume %>|<%= report.adj_close %>|<%= report.enterprise_id %></p>
    <% end %>
  </tbody>
</table>
